name: Linux CI

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

  # Allows manual triggering of the workflow
  workflow_dispatch:

jobs:

  run-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.8'

    # Only run in this linux based runner
    - name: Check Formatting
      run: |
        gofmt -l .

    - name: check nix flake is up to date
      run: |
        ./update-flake.sh
        echo
        echo
        git diff --name-only --exit-code || (echo "The files above need updating. Please run './update-flake.sh'."; exit 1)
